USE [master]
GO
/****** Object:  Database [NotlarDB]    Script Date: 24.08.2016 13:21:41 ******/
CREATE DATABASE [NotlarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NotlarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NotlarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NotlarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\NotlarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NotlarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NotlarDB]
GO
USE [NotlarDB]
GO
/****** Object:  Table [dbo].[tblÇöp]    Script Date: 24.08.2016 13:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblÇöp](
	[NotID] [int] NOT NULL,
	[Yazi] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[OkunduMu] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblKategori]    Script Date: 24.08.2016 13:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblKategori](
	[KategoriID] [int] IDENTITY(1,1) NOT NULL,
	[KategoriAdi] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_tblKategori] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNot]    Script Date: 24.08.2016 13:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNot](
	[NotID] [int] IDENTITY(1,1) NOT NULL,
	[Yazi] [nvarchar](max) NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[OkunduMu] [bit] NOT NULL,
 CONSTRAINT [PK_tblNot] PRIMARY KEY CLUSTERED 
(
	[NotID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[tblNot] ADD  CONSTRAINT [DF_tblNot_Tarih]  DEFAULT (getdate()) FOR [Tarih]
GO
ALTER TABLE [dbo].[tblNot] ADD  CONSTRAINT [DF_tblNot_OkunduMu]  DEFAULT ((0)) FOR [OkunduMu]
GO
USE [master]
GO
